.small-container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1rem;
}

.big-container {
    margin: 0 auto;
    max-width: 1400px;
}

.block {
    padding: 2rem 0;
    //background: yellow;

    &-primary {
        background: brown;
    }

    &-dark {
        background: green;
    }

    &__header {
        font-size: 2.5rem;
        color: red;
        padding: 1rem 0;
    }
    &__paragraph {
        font-size: 2rem;
        color: yellow;
    }
}

.grid {
    display: grid;

    &--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
    &--1x4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &--1x5 {
        grid-template-columns: repeat(5, 1fr);
    }
    &--1x6 {
        grid-template-columns: repeat(6, 1fr);
    }
    &--1x7 {
        grid-template-columns: repeat(7, 1fr);
    }
}