@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap');

// variables 
$font-stack: 'Reem Kufi', sans-serif;
$font-size-body: 1.7rem;
$primary-color: rgb(12, 12, 189);
$secondary-color: orange;
$accent-color: orange;


//default settings
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-stack;
}

img {
    width: 100%;
    object-fit: cover;
}