@use 'config';

// header component
.header {
    color: #fff;
    padding: 1rem;
    position: fixed;
    z-index: 500;
    width: 100%;
    background-color: rgb(247, 248, 248);
    box-shadow: -5px 3px 10px 1px rgba(0, 0, 0, 0.2);

    .nav {
        display: flex;
        justify-content: space-between;
        font-size: 1.7rem;
        color: rgb(70, 69, 69);

    
        &__logo {
            color: rgb(68, 67, 67);
            cursor: pointer;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-weight: bold;

            &__text {
                padding-left: 0.5rem;
            }
        }
    
        &__items {
            display: flex;
            list-style: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            align-items: center;

            li {
                padding-left: 2rem;
                cursor: pointer;
            }
            li:last-child {
                font-weight: bold;
                color: gray;
            }
        }
        
        .burger {
            width: 35px;
            cursor: pointer;
            display: none;

            &__toggle {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-self: center;

                div {
                    height: 3px;
                    margin: 3.5px 0;
                    background-color: rgb(61, 60, 60);
                    border-radius: 10px;
                    transition: 0.4s ease-in;
                }
                &__middle-line{
                    width: 80%;
                    align-self: flex-end;
                }
            }

            &.active {
                .burger__toggle{
                    &__top-line {
                        transform: rotate(-45deg) translate(-8px, 6px);
                    }
                    &__middle-line {
                        width: 0%;
                    }
                    &__bottom-line {
                        transform: rotate(45deg) translate(-8px, -6px);
                    }
                }
            }
        }
    }
}

// hero-slider component
.sam {
    background-color: aqua;
    height: 600px;
}

// .hero {
//     max-height: 500px;
//     overflow:hidden;
//     position: relative;
//     display: flex;
//     align-items: center;

//     &__background-image {
//         z-index: 10;
//     }

//     &__container {
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         z-index: 100;
        
//         &__card {
//             height: 100%;
//             display: flex;
//             flex-direction: column;
//             align-items: left;
//             justify-content: center;

//             &__header {
//                 color: #fff;
//                 font-size: 2rem;
//             }

//             &__text {
//                 color: greenyellow;
//                 max-width: 50ch;
//             }
//         }
//     }
    
//     &::after {
//         content: "";
//         background: rgba(3, 3, 3, 0.493);
//         height: 100%;
//         width: 100%;
//         top: 0;
//         left: 0;
//         position: absolute;
//         z-index: 10;
//     }
// }

// links component
.hero-links {
    gap: 1rem;
}

// who we are component
.who-we-are {
    display: flex;

    &__image {
        width: 40%;
    }
    &__content {
        width: 60%;
        padding-left: 2rem;
        font-size: config.$font-size-body;
        p {
            padding-bottom: 2rem;
        }
    }
}


// facts components
.company-facts {
    padding: 2rem 0;
    
    .fact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;

        &__number {
            font-size: 3rem;
        }
        &__text {
            text-transform: capitalize;
            font-size: 2rem;
            
        }
    }
}

//values component
.values {
    display: flex;

    &__paragraph {
        width: 40%;
        font-size: config.$font-size-body;
        padding-right: 2rem;
    }
    
    &__links {
        width: 60%;
        gap: 1rem;
    }
}

.services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    background-color: red;
    position: relative;
    height: 300px;

    &__text {
        width: 100%;
        height: 100%;
        z-index: 10;
        position: absolute;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 3rem 1rem;

        &__title {
            color: yellow;
        }
        &__description {
            color: pink;
            height: 0;
            overflow: hidden;
        }
        
        &.active {
            background-color: rgba(14, 17, 14, 0.5);
            justify-content: space-between;
            
            .card__text__title {
                color: red;
                transition: 0.5s ease-in;
            }
            .card__text__description {
                background-color: blue;
                height: auto;
                
            }
        }
    }

    img {
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
}

//mosaic component
.mosaic {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    height: 500px;
    overflow: hidden;
    gap: 0.4rem;

    .one {
        grid-column: 1/3;
        grid-row: 1/5;
        background-color: yellow;
    }
    .two {
        grid-column: 1/3;
        grid-row: 5/7;
        background-color: rgb(21, 255, 0);
    }
    .three {
        grid-column: 3/4;
        grid-row: 1/7;
        background-color: rgb(0, 26, 255);
    }
    .four {
        grid-column: 4/5;
        grid-row: 1/4;
        background-color: aqua;
    }
    .five {
        grid-column: 4/5;
        grid-row: 4/7;
        background-color: black;
    }
    
    &__cell {
        display: flex;
        overflow: hidden;
        cursor: pointer;

        &__container {
            overflow: hidden;
            position: relative;
            display: flex;
            transition: 0.2s ease-in;

            h4 {
                position: absolute;
                color: #fff;
                z-index: 10;
                align-self: flex-end;
                width: 100%;
                background-color: rgba(29, 29, 28, 0.473);
                padding: 1rem;
                text-align: right;
                font-size: 2rem;
            }
            
            &::after {
                background-color: rgba(54, 54, 54, 0.253);
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
            }

            &:hover {
                transform: scale(1.05);
                transition: 0.4s ease-in;
            }


        }


    }
}

.news-scroller {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    &__card {
        background: red;
        height: 200px;
    }
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;

    * {
        scroll-snap-align: start;
    }
}

.news-scroller::-webkit-scrollbar {
    width: 2rem;
    height: 1rem;
}

.news-scroller::-webkit-scrollbar-track {
    background-color: rgb(72, 255, 0);
}

.news-scroller::-webkit-scrollbar-thumb {
    background-color: blue;
}

// certificates component
.certificate {
    display: flex;
    justify-content: space-between;
    height: 100px;
    overflow: hidden;

    &__logo {
        display: flex;
        max-width: 150px;
        max-height: 90px;
        padding-right: 1.5rem;

        img {
            object-fit: contain;
            opacity: 0.5;
            filter: grayscale(100%);
            transition: 0.3s ease-in;

            &:hover {
                opacity: 1;
                filter: grayscale(0%);
            }
        }
    }
}


// footer component
.footer {
    display: flex;

    &__info {
        width: 40%;
        font-size: 1.5rem;
        color: #fff;
        padding-right: 2rem;

        p {
            margin: 1.5rem 0;
        }

        &__socialmedia {
            padding-top: 2rem;
            display: flex;
            flex-direction: row;

            &__icon {
                border: 1px solid rgb(255, 255, 255);
                border-radius: 20rem;
                padding: 0.5rem;
                margin-right: 1rem;
                cursor: pointer;
            }
        }
    }
    
    &__links {
        width: 60%;
        display: grid;
        grid-auto-flow: column;
        gap: 1.5rem;
        justify-content: space-between;
    }
}

//collapsible 
.collapsible {
    display: flex;
    flex-direction: column;
    color: #fff;

    &__title {
        font-size: 1.8rem;
        font-family: config.$font-stack;
        cursor: pointer;
        margin-bottom: 1rem;

        .icon {
            display: none;
        }
    }

    &__list {
        li {
            list-style: none;
            font-size: 1.5rem;
            padding-bottom: 0.3rem;
        }
    }
}