@media screen and (max-width:768px) {
    // header
    .header {
        position: relative;
        
        .nav {
            &__items {
                position: absolute;
                flex-direction: column;
                top: 0;
                right: 0;
                height: 100vh;
                width: 0%;
                padding-top: 7rem;
                background: rgb(235, 238, 236);
                transition: 0.4s ease-in;
                overflow: hidden;
                box-shadow: -2px 3px 10px 1px rgba(0, 0, 0, 0.2);

                li {
                    opacity: 0;
                    padding-left: 0;
                    padding-bottom: 2rem;
                    transition: 0.2s ease-in;
                }

                &.active {
                    width: 250px;
                    transition: 0.2s ease-in;
                    li {
                        opacity: 1;
                        
                    }
                }
            }
            .burger {
                display: block;
                z-index: 100;
            }
        }
    }
    //hero-slider


    //hero-links
    .hero-links {
        grid-template-columns: repeat(1, 1fr);
    }

    //who we are
    .who-we-are {
        flex-direction: column;
        
        &__image {
            width: 100%;
            max-height: 150px;
        }

        &__content {
            padding: 0;
            width: 100%;
            p {
                padding: 2rem 0;
            }
        }
    }

    //company-facts
    .company-facts {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    
}