@media screen and (max-width: 425px) {
  // header
  //hero-slider
  //hero-links
  //who we are
  //company-facts
  //values component
  .values {
    display: flex;
    flex-direction: column;

    &__paragraph {
      width: 100%;
      padding-bottom: 1rem;
    }

    &__links {
      width: 100%;
      gap: 1rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }

    //mosaic
    .mosaic {
      grid-template-columns: repeat(1, 1fr);
      height: 650px;
      
      .one {
        grid-column: 1/1;
        grid-row: 1/2;
      }
      .two {
        grid-column: 1/1;
        grid-row: 2/3;
      }
      .three {
        grid-column: 1/1;
        grid-row: 3/4;
      }
      .four {
        grid-column: 1/1;
        grid-row: 4/5;
      }
      .five {
        grid-column: 1/1;
        grid-row: 5/6;
      }
    }

    //
}
