@use 'config';

.small-container {
    margin: 0 auto;
    //max-width: 1024px;
    max-width: 1024px;
    padding: 0 1.5rem;
}

.big-container {
    margin: 0 auto;
    max-width: 2000px;
}


.block {
    padding: 2rem 0;

    &--big {
        padding: 4rem 0;
    }

    &--primary {
        background: config.$primary-color;
    }

    &--dark {
        background: rgb(2, 14, 2);
    }

    &--light {
        background: rgb(231, 235, 231);
    }

}

.grid {
    display: grid;

    &--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
    &--1x4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &--1x5 {
        grid-template-columns: repeat(5, 1fr);
    }
    &--1x6 {
        grid-template-columns: repeat(6, 1fr);
    }
    &--1x7 {
        grid-template-columns: repeat(7, 1fr);
    }
}


//UI fragments
.head-section {
    margin-bottom: 2rem;

    &__title {
        font-size: 2.8rem;
    }
    &__text {
        font-size: 1.8rem;
    }

    &--primary {
        .head-section__title {
            color: config.$primary-color;
        }
        .head-section__text {
            color: rgb(85, 84, 84);
        }
    }
    
    &--secondary {
        .head-section__title {
            color: #fff;
        }
        .head-section__text {
            color: #fff;
        }
    }
}




.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border: 0;
    padding: 0.7rem 1rem;
    width: fit-content;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: config.$font-stack;
    font-weight: bold;

    &--primary {
        background-color: config.$primary-color;
        color: #fff;

        &:hover {
            background-color: lighten(config.$primary-color, 10);
        }
    }
    &--secondary {
        background-color: config.$secondary-color;
        color: #fff;

        &:hover {
            background-color: lighten(config.$secondary-color, 10);
        }
    }
}


.icon-link {
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-in;

    p {
        padding-right: 1rem;
    }

    &--primary {
        border: solid 2px config.$primary-color;
        &:hover {
            color: #fff;
            background-color: config.$primary-color;
            & .icon svg {
                fill: #fff;
            }
        }
    }

    &--secondary {
        border: solid 2px config.$secondary-color;
        &:hover {
            color: #fff;
            background-color: config.$secondary-color;
            & .icon-container svg {
                fill: #fff;
            }
        }
    }

    &--light-primary {
        border: solid 2px lightgray;
        background-color: #fff;
        cursor: default;

    }

}